.sidebar {
  width: @sidebar-width;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  background: rgb(247, 247, 247);
  color: #555;
  .category-name {
    line-height: 48px;
    border-bottom: 1px solid #AAAAAA;
    background-color: #EEEEEE;
    color: #777777;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }
  .project-list {
    .project {
      cursor: pointer;
      padding: 0 @content-padding;
      line-height: 28px;
      .project-name {
        padding-right: 5px;
      }
      &:first-child {
        margin-top: 5px;
      }
      &:hover {
        color: @main-color;
      }
    }
    .current-project {
      background-color: #EEEEEE;
      border-right: 5px solid @main-color;
    }
    .new-project {
      padding: @content-padding;
      width: 100%;
      box-sizing: border-box;
      input {
        width: 100%;
        .form-input();
      }
    }
  }
}
